In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
wh = pd.read_csv('data_final/merged_all_final.csv')

In [4]:
wh.head()

,Country,Region,iso_a3,wh_score,gdi,gii,efs,pdn,year
0,Albania,Southern Europe,ALB,4.655,0.970,0.256,65.650034,105.135146,2015
1,Algeria,Northern Africa,DZA,6.355,0.858,0.442,48.881858,16.680253,2015
2,Angola,Sub-Saharan Africa,AGO,3.866,0.838,0.575,47.885804,22.366552,2015
3,Armenia,Western Asia,ARM,4.360,0.977,0.301,67.125092,102.759150,2015
4,Australia,Australia and New Zealand,AUS,7.313,0.975,0.110,81.387287,3.100113,2015

# <span style="color:red">Observation 1: Countries in Northern Europe have had the highest world Happiness Scores, while countries in Sub-Saharan Africa have had the lowest </span> 
# <span style="color:red">Observation 2: Singapore has had both the highest econmic freedom as well as the highest population density for the past 4 years</span>
# <span style="color:red">Observation 3: There is a much broader range of population density and economic freedom score than there are of happiness, gender development, and gender inequality scores</span>

#### Question: What is the min, max and range of each variable?

In [6]:
wh.describe()

,wh_score,gdi,gii,efs,pdn,year
count,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000
mean,5.462885,0.940172,0.342447,62.197024,209.427284,2016.510949
std,1.115995,0.085188,0.193097,9.884574,704.157751,1.119002
min,2.693000,0.270000,0.037000,25.200000,1.930044,2015.000000
25%,4.559225,0.913000,0.155250,54.762404,32.187782,2016.000000
50%,5.427650,0.966000,0.357500,61.989253,82.397530,2017.000000
75%,6.294925,0.987000,0.494250,69.222500,149.177893,2018.000000
max,7.768900,1.045000,0.841000,89.351544,7952.998418,2018.000000

In [52]:
print(wh[['Country','Region','wh_score', 'year']].loc[wh.groupby('year')['wh_score'].idxmin()],
      wh[['Country','Region','wh_score', 'year']].loc[wh.groupby('year')['wh_score'].idxmax()],sep='\n')

                      Country              Region  wh_score  year
20                    Burundi  Sub-Saharan Africa    2.9050  2015
160  Central African Republic  Sub-Saharan Africa    2.6930  2016
294                   Burundi  Sub-Saharan Africa    2.9045  2017
433  Central African Republic  Sub-Saharan Africa    3.0830  2018
     Country           Region  wh_score  year
34   Denmark  Northern Europe    7.5260  2015
229   Norway  Northern Europe    7.5370  2016
315  Finland  Northern Europe    7.6321  2017
451  Finland  Northern Europe    7.7689  2018

In [54]:
print(wh[['Country','Region','gdi', 'year']].loc[wh.groupby('year')['gdi'].idxmin()],
      wh[['Country','Region','gdi', 'year']].loc[wh.groupby('year')['gdi'].idxmax()],sep='\n')

    Country              Region    gdi  year
89    Niger  Sub-Saharan Africa  0.270  2015
228   Niger  Sub-Saharan Africa  0.279  2016
365   Niger  Sub-Saharan Africa  0.289  2017
503   Niger  Sub-Saharan Africa  0.298  2018
    Country        Region    gdi  year
98    Qatar  Western Asia  1.043  2015
237   Qatar  Western Asia  1.041  2016
374   Qatar  Western Asia  1.045  2017
512   Qatar  Western Asia  1.043  2018

In [55]:
print(wh[['Country','Region','gii', 'year']].loc[wh.groupby('year')['gii'].idxmin()],
      wh[['Country','Region','gii', 'year']].loc[wh.groupby('year')['gii'].idxmax()],sep='\n')

         Country           Region    gii  year
34       Denmark  Northern Europe  0.044  2015
171      Denmark  Northern Europe  0.042  2016
390  Switzerland   Western Europe  0.040  2017
529  Switzerland   Western Europe  0.037  2018
    Country                           Region    gii  year
132   Yemen                     Western Asia  0.841  2015
186   Haiti  Latin America and the Caribbean  0.765  2016
299    Chad               Sub-Saharan Africa  0.710  2017
434    Chad               Sub-Saharan Africa  0.701  2018

In [56]:
print(wh[['Country','Region','efs', 'year']].loc[wh.groupby('year')['efs'].idxmin()],
      wh[['Country','Region','efs', 'year']].loc[wh.groupby('year')['efs'].idxmax()],sep='\n')

       Country                           Region        efs  year
130  Venezuela  Latin America and the Caribbean  34.335980  2015
268  Venezuela  Latin America and the Caribbean  33.740000  2016
405  Venezuela  Latin America and the Caribbean  26.961476  2017
544  Venezuela  Latin America and the Caribbean  25.200000  2018
       Country              Region        efs  year
106  Singapore  South-eastern Asia  89.351544  2015
245  Singapore  South-eastern Asia  87.780000  2016
382  Singapore  South-eastern Asia  88.580007  2017
520  Singapore  South-eastern Asia  88.800000  2018

In [57]:
print(wh[['Country','Region','pdn', 'year']].loc[wh.groupby('year')['pdn'].idxmin()],
      wh[['Country','Region','pdn', 'year']].loc[wh.groupby('year')['pdn'].idxmax()],sep='\n')

      Country        Region       pdn  year
81   Mongolia  Eastern Asia  1.930044  2015
219  Mongolia  Eastern Asia  1.967326  2016
356  Mongolia  Eastern Asia  2.004286  2017
494  Mongolia  Eastern Asia  2.040609  2018
       Country              Region          pdn  year
106  Singapore  South-eastern Asia  7806.772752  2015
245  Singapore  South-eastern Asia  7908.720563  2016
382  Singapore  South-eastern Asia  7915.730436  2017
520  Singapore  South-eastern Asia  7952.998418  2018

In [59]:
print('Happiness Score range:', round((wh['wh_score'].max()- wh['wh_score'].min()),3))
print('Gender Development Index range:', round((wh['gdi'].max()- wh['gdi'].min()),3))
print('Gender Inequality Index range:', round((wh['gii'].max()- wh['gii'].min()),3))
print('Economic Freedom Index range:', round((wh['efs'].max()- wh['efs'].min()),3))
print('Population Density range:', round((wh['pdn'].max()- wh['pdn'].min()),3))

Happiness Score range: 5.076
Gender Development Index range: 0.775
Gender Inequality Index range: 0.804
Economic Freedom Index range: 64.152
Population Density range: 7951.068